{% extends "ChillPersonBundle::layout.html.twig" %}

{% block title 'New Document'|trans %}
    
{% set activeRouteKey = '' %}

{% block personcontent %}
<h1>{{ 'New Document'|trans }}</h1>


{{ form(form) }}


<a class="sc-button bt-action" href="{{ path('chill_brusafe_document_post', { 'niss' : '81061626924', 'person_id'  : person.id }) }}">
    Une fois le document assemblé, vous pourrez l'envoyer en cliquant ici.
</a>


{% endblock %}
