{% extends "ChillMainBundle::layout.html.twig" %}

{% block title 'Connect to Brusafe+'|trans %}

{% block content %}
<h1>{{ 'Connect to Brusafe+'|trans }}</h1>

<a class="sc-button bt-action" href="{{ link }}">
    {{ 'Connect to Brusafe+ network'|trans }}
</a>

<p>{{ 'You will be redirected to Brusafe+ portal, where you will authenticate 
using their credentiels'|trans }}</p>

{% endblock %}
