{% extends "ChillPersonBundle::layout.html.twig" %}

{% set activeRouteKey = '' %}

{% block title 'Therapeutic link error'|trans %}

{% block content %}
<h1>{{ 'Therapeutic link error'|trans }}</h1>

<p>
    {{ 'The patient refuse to share medical data'|trans }}
</p>

{% endblock %}
